body {
	margin: 0;
	background-color: #000 !important;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.about {
	color: #fff;
	font-family: 'Poiret One', cursive;
	margin-top: 150px;
	text-align: center;
	text-transform: uppercase;
	border-top: 2px solid #fff;
}

#bio {
	margin: 0 auto;
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	text-indent: 0.5em;
	padding: 10px 5px 10px 15px;
}

.navname {
	margin-top: 80px;
	font-family: 'Poiret One', cursive;
	color: #fff;
	font-size: 4.5em;
	text-align: center;
	text-transform: uppercase;
}

.name {
	padding-top: 25px;
	font-family: 'Poiret One', cursive;
	color: #fff;
	font-size: 4.5em;
	text-align: center;
	text-transform: uppercase;
}

.text {
	margin: 0 auto;
	margin-top: 800px;
	width: 75%;
	padding: 20px 0px 10px 20px;
	letter-spacing: .1em;
}

.social {
	margin: 0 auto;
	padding: 25px 0px 10px 50px;
	width: 350px;
}

.slinks {
	padding-right: 10px;
	height: 50px;
	width: 60px;
}

.list-unstyled {
	margin-top: 10px;
	margin-bottom: 40px;
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	text-align: center;
}

.list-unstyled li {
	padding: 5px;
}

.list-unstyled li a:link, a:active, a:visited {
	color: #fff !important;
	text-decoration: none;
}

.list-unstyled li a:hover {
	color: rgb(255, 80, 80) !important;
}

#music {
	background-color: rgba(0, 0, 0, 0.4);
	height: 95%;
	width: 400px;
	position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  padding: 0 !important;
}

.navname {
	padding-top: 25px;
	font-family: 'Poiret One', cursive;
	color: #fff;
	font-size: 4.5em;
	text-align: center;
	text-transform: uppercase;
}

.testing1 {
	color: #fff;
	font-family: 'Poiret One', cursive;
	margin-top: 100px;
	text-align: center;
	padding-top: 40px;
	font-size: 3em;
	text-transform: uppercase;
	border-top: 2px solid #fff;
}

#news {
	background-color: #000;
	height: 500px;
	width: 1000px;
	margin: 0 auto;
}

.testing2 {
	color: white;
	font-family: 'Poiret One', cursive;
	margin-top: 50px;
	text-align: center;
	padding-top: 40px;
	font-size: 3em;
	text-transform: uppercase;
	border-top: 2px solid #fff;
}

#contact {
	height: 400px;
	margin-top: 50px;
	border-top: 2px solid #fff;
}

#back {
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-family: 'Poiret One', cursive;
	text-decoration: none;
}

#back a:hover {
	color: rgb(255, 80, 80) !important;
}

#email {
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
}
.testing3 {
	color: white;
	font-family: 'Poiret One', cursive;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	font-size: 3em;
	text-transform: uppercase;
}