/*html { 
  background: url(images/pssix.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
	margin: 0;
	background-color: #000;
}

#header {
/*		margin-top: 50px;*/
/*  position: fixed;*/
    background-image: url(images/ps7.png);
    background-repeat: no-repeat;
    background-position: center center;
/*    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    height: 300px;
    padding-bottom: 15%;
/*  	border-bottom: 3px solid #A5A5A5;*/
}

#navigation {
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 10px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	max-width: 1000px;
	height: 50px;
}

#navigation a:link, a:active, a:hover, a:visited {
	color: white;
	text-decoration: none;
}

#nav {
	margin: 0 auto;
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	font-size: 15pt;
}

.direction {
	padding-right: 50px;
}

#top {
	margin: 0 auto;
}

#bio {
	width: 1000px;
	background-color: rgba(255, 80, 80, 0.8);
	margin-top: -10px;
	margin: 0 auto;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14pt;
	text-indent: 1em;
}

#name {
/*	float: right;*/
/*	padding-right: 175px;*/
	margin: 0 auto;
	padding-top: 10px;
	font-family: 'Poiret One', cursive;
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	color: #000;
  background-color: rgba(0, 0, 0, 0);
  letter-spacing: .1em;
  text-shadow: 0px 2px 3px #000;
}

.text {
	margin: 0 auto;
	width: 50%;
	padding: 20px 0px 10px 20px;
	letter-spacing: .1em;
}

#music {
	background-color: white;
	height: 500px;
	width: 1000px;
	margin: 0 auto;
}

#player {
	padding-right: 20px;
/* 	float: right;*/
}

.testing1 {
	color: black;
	font-family: 'Poiret One', cursive;
/*	font-size: 5em;*/
}

#news {
	background-color: blue;
	height: 400px;
	width: 1000px;
	margin: 0 auto;
}

.testing2 {
	color: white;
	font-size: 5em;
}

#contact {
	background-color: green;
	height: 400px;
	width: 1000px;
	margin: 0 auto;
}

.testing3 {
	color: white;
	font-size: 5em;
}